a{
    text-decoration: none;
}

.brand{
    font-family: 'Cairo', sans-serif;
    font-size: 1.7rem;
}

.nav-item{
    margin-right: 5px;
    margin-bottom: 2px;
}

@media (max-width: 768px) {
    .brand { 
        font-size: 1.3rem;
    }
}; 