<div class="listado">
    <table class="table table-hover table-sm mb-3">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Tipo</th>
                <th>Dirección</th>
                <th (click)="activarModoBorrar()">Inicio</th>
                <th (click)="activarModoEdicion()">Cierre</th>
                <th>Fecha OK</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>  
        </thead>
        <tbody virtualScroll *ngFor="let boliche of listaBoliches">
            <tr *ngIf=bolicheOK(boliche)>
                <td>{{boliche.nombre}}</td>
                <td><i [ngClass]="boliche.tipo=='bar' ? 'far fa-beer' : 'far fa-cocktail'"></i></td>
                <td>{{boliche.direccion}}</td>
                <td>{{boliche.anioinicio}}</td>
                <td>{{boliche.aniofin | aniocierre}}</td>
                <td><i [ngClass]="boliche.fechaverificada==1 ? 'far fa-check' : 'far fa-times'"></i></td>
                <td *ngIf="modoEdicion()"><i (click)="editarBoliche(boliche)" class='far fa-edit'></i></td>
                <td *ngIf="modoBorrar()"><i (click)="eliminarBoliche(boliche.id)" class='far fa-trash-alt'></i></td>
                <td><i (click)="posicionarBoliche(boliche)" class='far fa-map-marker'></i></td>
            </tr>     
        </tbody>
    </table>
</div>